<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- Primary Meta Tags -->
    <title>Get youtube thumbnails</title>
    <meta name="title" content="Get youtube thumbnails">
    <meta name="description" content="Get fancy youtube thumbnails by pasting video's url here">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://getthumb.dinhtran.page">
    <meta property="og:title" content="Get youtube thumbnails">
    <meta property="og:description" content="Get fancy youtube thumbnails by pasting video's url here">
    <meta id="facebookImageMeta" property="og:image"
        content="https://www.youtube.com/s/desktop/4aac258c/img/favicon_32.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://getthumb.dinhtran.page">
    <meta property="twitter:title" content="Get youtube thumbnails">
    <meta property="twitter:description" content="Get fancy youtube thumbnails by pasting video's url here">
    <meta id="twitterImageMeta" property="twitter:image"
        content="https://www.youtube.com/s/desktop/4aac258c/img/favicon_32.png">
    <meta name="google-site-verification" content="h94Pue3BbCK6JBy5j5bSDWPCkM2CEbwHnbnC_TCHmIE" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1FJDP8SFFE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-1FJDP8SFFE');
    </script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="mrtrandinhvn" data-description="Support me on Buy me a coffee!" data-message="Cheers" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</head>

<body>
    <noscript>
        <div>Website that help you get fancy youtube thumbnails</div>
        <strong>
            We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
                Please enable it to continue.
        </strong>
    </noscript>
    <div id="app"></div>
    <div id="appVersion">
        v<span>
            <%= VUE_APP_VERSION %>
        </span>
    </div>
    <!-- built files will be auto injected -->
</body>

</html>