:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #275EFE;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
    --mobile-width: 800px;
    --log-font: monospace;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16pt;
}

#app {
    text-align: center;
    color: #2c3e50;
}

#appLogo {
    width: 8em;
}

pre {
    text-align: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.log {
    font-family: var(--log-font);
    margin-top: 2em;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 1.8em;
    font-weight: 500;
    font-size: inherit;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    -webkit-transition: border 0.3s ease;
    -o-transition: border 0.3s ease;
    transition: border 0.3s ease;
}

.form-field::-webkit-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::-moz-placeholder {
    color: var(--input-placeholder);
}

.form-field:-ms-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::-ms-input-placeholder {
    color: var(--input-placeholder);
}

.form-field::placeholder {
    color: var(--input-placeholder);
}

.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--mobile-width);
}

.form-group>span,
.form-group .form-field {
    white-space: nowrap;
    display: block;
}

.form-group>span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.form-group>span:first-child,
.form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}

.form-group>span:last-child,
.form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}

.form-group>span:not(:first-child),
.form-group .form-field:not(:first-child) {
    margin-left: -1px;
}

.form-group .form-field {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.form-group>span {
    text-align: center;
    padding: 8px 12px;
    line-height: 1.8em;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    -webkit-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    -o-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-group:focus-within>span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.btn-primary {
    color: var(--group-color);
    background-color: var(--group-background);
}

.btn:not(:disabled) {
    cursor: pointer;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--group-background-focus);
}

.btn:focus {
    outline: 0;
}

.btn:focus,
.btn:hover {
    text-decoration: none;
}

#appVersion {
    position: absolute;
    top: 0;
    right: 5px;
    font-family: var(--log-font);
    font-size: .8em;
}

#navBar {
    text-align: left;
    font-size: .9em;
}

#navBar a {
    text-decoration: none;
}

@media (max-width: 800px) {
    #app {
        font-size: 16px;
    }
    #appLogo {
        width: 100px;
    }
    pre {
        width: 400px;
    }
    h1 {
        font-size: 1.8em;
    }
}